.chat-container-1 {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column; 
  height: 80vh; 
  justify-content: space-between; 
}

.chat-header {
  flex: 0; 
  margin-bottom: 10px; /* Optional spacing below the header */
}

.chat-messages {
  flex: 1; /* Allow messages to take up available space */
  overflow-y: auto; /* Enable scrolling for messages */
}

.chat-message {
  background-color: #e1ffc7; /* Background color for messages */
  border-radius: 8px; /* Rounded corners */
  padding: 8px;
  margin: 5px 0; /* Margin between messages */
  width: 100%; }

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
 
  width: 100%; /* Ensure input area takes full width */
}

.chat-input input {
  flex: 1; /* Take available space */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; /* Make input field take full width */
}

.emoji-icon,
.send-icon {
  margin-left: 8px;
  cursor: pointer;
}
